USE [master]
GO
/****** Object:  Database [ecommerce]    Script Date: 5/29/2026 5:29:45 PM ******/
CREATE DATABASE [ecommerce]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ecommerce', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ecommerce.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ecommerce_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ecommerce_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ecommerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ecommerce]
GO
/****** Object:  User [ishu]    Script Date: 5/29/2026 5:29:45 PM ******/
CREATE USER [ishu] FOR LOGIN [ishu] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ecommerce_user]    Script Date: 5/29/2026 5:29:45 PM ******/
CREATE USER [ecommerce_user] FOR LOGIN [ecommerce_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ishu]
GO
ALTER ROLE [db_owner] ADD MEMBER [ecommerce_user]
GO
/****** Object:  Table [dbo].[bills]    Script Date: 5/29/2026 5:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bills](
	[bill_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[seller_id] [int] NULL,
	[product_id] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 5/29/2026 5:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coupons]    Script Date: 5/29/2026 5:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coupons](
	[coupon_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](100) NULL,
	[min_amount] [decimal](10, 2) NULL,
	[discount_amount] [decimal](10, 2) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[coupon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 5/29/2026 5:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 5/29/2026 5:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[total_price] [decimal](10, 2) NULL,
	[order_date] [datetime] NULL,
	[return_status] [varchar](20) NULL,
	[return_date] [datetime] NULL,
	[discount_amount] [decimal](10, 2) NULL,
	[final_total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 5/29/2026 5:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[seller_id] [int] NULL,
	[product_name] [varchar](200) NULL,
	[category] [varchar](100) NULL,
	[price] [decimal](10, 2) NULL,
	[stock] [int] NULL,
	[description] [text] NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/29/2026 5:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](100) NULL,
	[last_name] [varchar](100) NULL,
	[username] [varchar](100) NULL,
	[email] [varchar](150) NULL,
	[password] [varchar](255) NULL,
	[role] [varchar](20) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[address] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[coupons] ON 

INSERT [dbo].[coupons] ([coupon_id], [title], [min_amount], [discount_amount], [is_active], [created_at]) VALUES (1, N'WELCOME', CAST(10000.00 AS Decimal(10, 2)), CAST(200.00 AS Decimal(10, 2)), 1, CAST(N'2026-05-28T18:40:20.883' AS DateTime))
INSERT [dbo].[coupons] ([coupon_id], [title], [min_amount], [discount_amount], [is_active], [created_at]) VALUES (3, N'offer', CAST(200000.00 AS Decimal(10, 2)), CAST(300.00 AS Decimal(10, 2)), 1, CAST(N'2026-05-28T18:44:57.527' AS DateTime))
INSERT [dbo].[coupons] ([coupon_id], [title], [min_amount], [discount_amount], [is_active], [created_at]) VALUES (4, N'hahha', CAST(100000.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), 1, CAST(N'2026-05-28T18:46:55.850' AS DateTime))
SET IDENTITY_INSERT [dbo].[coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [user_id], [product_id], [quantity], [price], [total_price], [order_date], [return_status], [return_date], [discount_amount], [final_total]) VALUES (1, 9, 10, 5, CAST(90000.00 AS Decimal(10, 2)), CAST(450000.00 AS Decimal(10, 2)), CAST(N'2026-05-27T15:19:47.330' AS DateTime), N'returned', CAST(N'2026-05-28T15:43:49.453' AS DateTime), NULL, NULL)
INSERT [dbo].[orders] ([order_id], [user_id], [product_id], [quantity], [price], [total_price], [order_date], [return_status], [return_date], [discount_amount], [final_total]) VALUES (2, 9, 9, 1, CAST(2300.00 AS Decimal(10, 2)), CAST(2300.00 AS Decimal(10, 2)), CAST(N'2026-05-27T15:22:43.937' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[orders] ([order_id], [user_id], [product_id], [quantity], [price], [total_price], [order_date], [return_status], [return_date], [discount_amount], [final_total]) VALUES (3, 9, 9, 1, CAST(2300.00 AS Decimal(10, 2)), CAST(2300.00 AS Decimal(10, 2)), CAST(N'2026-05-27T15:33:19.127' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [seller_id], [product_name], [category], [price], [stock], [description], [status], [created_at]) VALUES (9, 10, N'jacket', N'cloth', CAST(2300.00 AS Decimal(10, 2)), 3, N'Black leather jacket', N'active', CAST(N'2026-05-26T19:39:16.827' AS DateTime))
INSERT [dbo].[products] ([product_id], [seller_id], [product_name], [category], [price], [stock], [description], [status], [created_at]) VALUES (10, 12, N'laptop', N'electronic', CAST(90000.00 AS Decimal(10, 2)), 2, N'HP laptop', N'active', CAST(N'2026-05-26T21:13:31.340' AS DateTime))
INSERT [dbo].[products] ([product_id], [seller_id], [product_name], [category], [price], [stock], [description], [status], [created_at]) VALUES (11, 13, N'Wireless Earbuds', N'electronics', CAST(3500.00 AS Decimal(10, 2)), 23, N'Bluetooth earbuds with case', N'active', CAST(N'2026-05-27T15:47:02.643' AS DateTime))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [first_name], [last_name], [username], [email], [password], [role], [status], [created_at], [address]) VALUES (1, N'Admin', N'User', N'admin', N'admin@gmail.com', N'Admin@123', N'admin', N'active', CAST(N'2026-05-25T14:32:40.640' AS DateTime), NULL)
INSERT [dbo].[users] ([user_id], [first_name], [last_name], [username], [email], [password], [role], [status], [created_at], [address]) VALUES (9, N'Ishu', N'Sitikhu', N'Ishu', N'ishu@gmail.com', N'Strong123@', N'customer', N'active', CAST(N'2026-05-25T16:14:35.627' AS DateTime), NULL)
INSERT [dbo].[users] ([user_id], [first_name], [last_name], [username], [email], [password], [role], [status], [created_at], [address]) VALUES (10, N'krishna', N'Govind', N'krishna', N'krishna@gmail.com', N'Strong123@', N'seller', N'active', CAST(N'2026-05-25T16:15:45.593' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_coupon_title]    Script Date: 5/29/2026 5:29:46 PM ******/
ALTER TABLE [dbo].[coupons] ADD  CONSTRAINT [UQ_coupon_title] UNIQUE NONCLUSTERED 
(
	[title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164C40CC4F7]    Script Date: 5/29/2026 5:29:46 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5721B116561]    Script Date: 5/29/2026 5:29:46 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[coupons] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[coupons] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('not_returned') FOR [return_status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD FOREIGN KEY([seller_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([seller_id])
REFERENCES [dbo].[users] ([user_id])
GO
USE [master]
GO
